{% extends "base.html" %}
{% block content %}

<div class="card">
    <h2>Novo Item</h2>

    <form method="POST">
        <input name="codigo" placeholder="Código">
        <input name="descricao" placeholder="Descrição">
        <input name="cor" placeholder="Cor">
        <input name="tamanho" placeholder="Tamanho">
        <input name="recebidas" placeholder="Recebidas">
        <input name="processadas" placeholder="Processadas">
        <input name="divergencia" placeholder="Divergência">
        <button class="btn">Salvar</button>
    </form>
</div>

{% endblock %}